html {
    scroll-behavior: smooth;
}

main {
    margin-top: 9.6rem;
}

.formu {
    width: 750px;
    min-height: 54vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.formu h2 {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 45px;
}

.formu form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    position: relative;
}

.formu .input-group {
    position: relative;
}

.formu label {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: black;
    color: white;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.formu input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f2df36;
    border-bottom: 2.5px solid #FEE720;
    box-shadow: 0 0 10px rgba(255, 232, 31, 0.5);
    border-radius: 5px 5px 0px 0px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.formu input:focus {
    outline: none;
    border-color: #FEE720;
}

.formu button {
    width: 180px;
    margin: 1rem auto 0;
    padding: 6px;
    display: block;
    background-color: gray;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.formu button:hover {
    background-color: #555; /* Gris plus foncé au survol */
}

/* FORMULAIRE */

.message-box {
    margin-top: 9rem;
    text-align: center;
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.message-box h2 {
    color: #007bff;
    font-size: 2rem;
}

.message-box p {
    font-size: 1.2rem;
    color: #333;
}

.message-box blockquote {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745;
}
