html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/fond.jpg);
    min-height: 100%;
    color: white;
    width: 1200px !important;
    margin: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/fond.jpg) repeat;
    z-index: -1;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 21;
    /*permettra de positionner le <header> au-dessus des autres éléments du site -> cela se remarque mieux au scroll */
    background-color: black;
    position: fixed;
    top: 0;
    width: 1200px;
}

header .img {
    width: 100px
}

header img {
    width: 100%;
}

header img:hover {
    cursor: pointer;
    /* Affiche un curseur de type pointer au survol */
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.logo-main_nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.main-nav {
    display: flex;
    align-items: center;
    padding-left: 100px;
    flex-grow: 1;
}

.main-nav ul li a {
    font-family: StarJedi;
    white-space: nowrap;
}

header nav ul {
    padding: 3px;
    display: flex;
    margin-left: 20px;
}

header nav li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 30px;
    position: relative;
}

header nav li a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.logo-main_nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #FEE720;
    transition: width 0.3s ease-in-out;
}

.logo-main_nav ul li a:hover::after {
    width: 100%;
    /* Ligne sur toute la largeur */
}

.flottant {
    animation: flotter 4s ease-in-out infinite;
}

@keyframes flotter {

    0%,
    100% {
        transform: translateY(0);
    }


    50% {
        transform: translateY(-10px);
    }
}

.etoile {
    animation: clignoter 1.5s infinite;
}

@keyframes clignoter {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}


main {
    width: 1000px;
    position: relative;
    margin-top: 9rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}


/* Personnages */


.perso-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personnage-card {
    display: flex;
    width: 100%;
    height: 400px;
    border: 3px solid #ffffff; /* Blanc pur */
    box-shadow: 0 0 15px #ffffff, 0 0 25px #d9d9d9, 0 0 35px #bfbfbf; 
    border-radius: 10px;
    background-color: #212121; /* Fond sombre */
    transition: 0.3s ease-in-out;
    gap: 70px;
}

/* Pour un sabre vert */
.personnage-card.vert:hover {
    border: 3px solid #35ec6f;
    box-shadow: 0 0 15px #35ec6f, 0 0 30px #20da3b, 0 0 45px #00d632;
}

/* Pour un sabre bleu */
.personnage-card.bleu:hover {
    border: 3px solid #1e82e0;
    box-shadow: 0 0 15px #1e82e0, 0 0 30px #1a6ac6, 0 0 45px #0f61b0;
}

/* Pour un sabre rouge */
.personnage-card.rouge:hover {
    border: 3px solid #d10000;
    box-shadow: 0 0 15px #d10000, 0 0 30px #b30000, 0 0 45px #8a0000;
}

/* Pour un sabre jaune */
.personnage-card.jaune:hover {
    border: 3px solid #f7e300;
    box-shadow: 0 0 15px #f7e300, 0 0 30px #f7d100, 0 0 45px #f7b800;
}

/* Pour un sabre violet */
.personnage-card.violet:hover {
    border: 3px solid #9b4dff;
    box-shadow: 0 0 15px #9b4dff, 0 0 30px #7a39cc, 0 0 45px #5c28a3;
}

/* Décalage pour les cards impaires (vers la droite de 100px) */
.personnage-card:nth-child(odd):hover {
    transform: translateX(50px);
    transition: transform 0.3s ease;
}

/* Décalage pour les cards paires (vers la gauche de 100px) */
.personnage-card:nth-child(even):hover {
    transform: translateX(-50px);
    transition: transform 0.3s ease;
}


.imgcard {
    width: 230px;
    height: 380px;
    margin-left: 25px;
    margin-top: 7px;
    background-color: black;
    border: 4px double white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perso-image {
    width: 200px;
    height: 350px;
    object-fit: contain;
}

.top {
    display: flex;
    margin-top: 15px;
    gap: 170px;
}

.personnage-card h3 {
    font-family: StarJedi;
    font-size: 1.5em;
    color: #FEE720;
    width: 400px;
}

.top .imgtop {
    border: 4px double white;
    border-radius: 50%;
}

.top img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.personnage-card p {
    margin: 10px 0;
}

.personnage-card strong {
    color: #FEE720;
}

.personnage-card i {
    font-size: 2em;
    margin-left: 590px;
    color: white;
}

.personnage-card a {
    text-decoration: none;
}


/* Planètes */


.planetes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.planete-card {
    position: relative;
    border: 4px double white;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    color: #fff;
}

.planete-card:hover img {
    transform: scale(1.1) rotate(5deg);
    transition: transform 0.3s ease;
}


.planete-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #FEE720;
    font-family: StarJedi;
    font-size: 1.5em;
    text-align: center;
}

.planete-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

.planete-card p {
    margin: 10px 0;
}

.planete-card strong {
    color: #FEE720;
}

.planete-card i {
    color: white;
}

.planete-card a {
    position: absolute;
    bottom: 10px; /* Distance du bas de la carte */
    right: 10px; /* Distance du côté droit de la carte */
    font-size: 2em;
    text-decoration: none;
}


/* Vaisseaux */


.vaisseaux-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.vaisseau-card {
    position: relative;
    border: 3px solid #ffffff; /* Blanc pur */
    box-shadow: 0 0 15px #ffffff, 0 0 25px #d9d9d9, 0 0 28px #bfbfbf; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: calc(50% - 20px);
    box-sizing: border-box;
    color: #fff;
}

/* Pour un effet bleu */
.vaisseau-card.bleu:hover {
    border: 3px solid #1e82e0;
    box-shadow: 0 0 15px #1e82e0, 0 0 30px #1a6ac6, 0 0 45px #0f61b0;
}

/* Pour un effet rouge */
.vaisseau-card.rouge:hover {
    border: 3px solid #d10000;
    box-shadow: 0 0 15px #d10000, 0 0 30px #b30000, 0 0 45px #8a0000;
}

.vaisseau-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #FEE720;
    font-family: StarJedi;
    font-size: 1.5em;
    text-align: center;
}

.vaisseau-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

.vaisseau-card p {
    margin: 10px 0;
}

.vaisseau-card strong {
    color: #FEE720;
}

.vaisseau-card i {
    color: white;
}

.vaisseau-card a {
    position: absolute;
    bottom: 10px; /* Distance du bas de la carte */
    right: 10px; /* Distance du côté droit de la carte */
    font-size: 2em;
    text-decoration: none;
}


/* Footer */


footer{
    width: 1200px;
    margin: 0 auto;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: black;
}

footer p {
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
}

footer ul li {
    list-style-type: none;
}

footer li a {
    color: white;
    text-decoration: none;
}

.logos i {
    color: white;
}

.logos ul {
    display: flex;
    gap: 20px;
}

.logos ul li {
    flex-direction: column;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 40px;
}

.footer-menu ul {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.footer-menu ul li a {
    color: #323232;
}

@font-face {
    font-family: 'Starjedi';
    src: url('../assets/fonts/Starjedi.ttf') format('truetype'),
        url('../assets/fonts/Starjedi.woff') format('woff'),
        url('../assets/fonts/Starjedi.woff2') format('woff2'),
        url('../assets/fonts/Starjhol.ttf') format('truetype'),
        url('../assets/fonts/Starjhol.woff') format('woff'),
        url('../assets/fonts/Starjhol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}