{% extends 'base.twig' %}

{% block title %}Accueil{% endblock %}
{% block css %}
    <link rel="stylesheet" href="css/accueil.css">
{% endblock %}

{% block main %}
{% if lang == 'en' %}
    <div class="st">
        <div class="st2">
            <h2>Join the galaxy, live the adventure!</h2>
            <p>Dive into the fascinating universe of Star Wars, where every hero, ship, and planet tells an epic story. Discover the secrets of the Jedi, Sith, pilots, and more, in an endless galactic adventure!</p>
        </div>
    </div>

    <div class="sw-intro">
        <h2>The galactic adventure awaits you!</h2>
        <p>Welcome to the infinite universe of Star Wars, where legends come to life and epic battles shape history.</p>
        <p>Whether you're a Jedi seeking wisdom or a Sith ready to conquer the galaxy, every corner of the universe offers a new adventure. Discover iconic characters, explore spaceships, and delve into the legacy of the Jedi and Sith.</p>
        <p>Get ready to embark on an extraordinary journey, filled with mysteries, heroes, and opposing forces that will shape the future of the universe.</p>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="st3">
        <div class="st4">
            <h2>Meet the heroes and villains</h2>
            <p>The characters of Star Wars are unforgettable, from the wisdom of the Jedi to the ambition of the Sith. Each has their own story, motivations, and crucial role in the struggle for the galaxy.</p>
        </div>
    </div>

    <div class="sw-intro">
        <h2>Heroes and villains: The soul of the galaxy</h2>
        <p>The characters of Star Wars are at the heart of the universe, each bringing a unique dimension to the story.</p>
        <p>The Jedi, such as Luke Skywalker and Obi-Wan Kenobi, embody hope and wisdom, fighting for peace.</p>
        <p>On the other hand, the Sith, like Darth Vader and Palpatine, are driven by a thirst for power and domination. Between fearless pilots like Han Solo and strategic leaders like Leia Organa, each character contributes to the galactic epic.</p>
        <p>Their evolution and choices shape the destiny of the galaxy in an eternal battle between light and darkness.</p>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="sw-highlights">
        <h2>The first 6 films: The epic begins</h2>
        <ul>
            <li>Star Wars: Episode I – The Phantom Menace: The beginning of the adventure with the introduction of Anakin Skywalker, the Jedi conflict, and the emergence of the mysterious Sith threat.</li>
            <li>Star Wars: Episode II – Attack of the Clones: Anakin and Padmé unite in the face of galactic war, while the dark machinations of the Sith are revealed.</li>
            <li>Star Wars: Episode III – Revenge of the Sith: The fall of Anakin, the rise of the Empire, and the end of the Jedi era.</li>
            <li>Star Wars: Episode IV – A New Hope: Luke Skywalker discovers his destiny and fights against the Empire, meeting allies like Han Solo and Princess Leia.</li>
            <li>Star Wars: Episode V – The Empire Strikes Back: The Empire strikes hard, and Luke confronts his father, Darth Vader, revealing a major secret.</li>
            <li>Star Wars: Episode VI – Return of the Jedi: The final battle against the Empire, the redemption of Anakin, and the victory of the rebels.</li>
        </ul>
    </div>

    <div class="sw-movie-grid">
        <div class="sw-movie-item">
            <img src="./images/acc/star1.jpg" alt="Star Wars: Episode I – The Phantom Menace">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star2.jpg" alt="Star Wars: Episode II – Attack of the Clones">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star3.avif" alt="Star Wars: Episode III – Revenge of the Sith">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star4.jpg" alt="Star Wars: Episode IV – A New Hope">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star5.jpg" alt="Star Wars: Episode V – The Empire Strikes Back">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star6.jpg" alt="Star Wars: Episode VI – Return of the Jedi">
        </div>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="sw-intro">
        <h2>The new trilogy: A legacy at stake</h2>
        <p>The saga continues with a new generation of heroes and villains.</p>
        <p>The Force Awakens introduces Rey, a scavenger with a mysterious destiny, facing the formidable Kylo Ren.</p>
        <p>The Last Jedi shakes the beliefs of the Jedi and confronts Rey with her future. Finally, The Rise of Skywalker concludes the battle between the Resistance and the First Order, revealing unexpected truths about Rey's legacy and the struggle between light and darkness.</p>
    </div>

    <div class="st7">
        <div class="st8">
            <h2>The return of the Sith: The shadow rises again</h2>
            <p>The Sith, long hidden, return to sow chaos. Palpatine orchestrates the fall of the Jedi, while Darth Vader becomes the instrument of their vengeance and domination.</p>
        </div>
    </div>

    <div class="sw-highlights">
        <h2>The final trilogy:</h2>
        <ul>
            <li>Star Wars: Episode VII – The Force Awakens: Rey discovers the Force, while the First Order threatens the galaxy under the rule of Kylo Ren.</li>
            <li>Star Wars: Episode VIII – The Last Jedi: Luke Skywalker trains Rey, while the Resistance desperately fights against the First Order.</li>
            <li>Star Wars: Episode IX – The Rise of Skywalker: The final battle erupts, revealing Rey's destiny and the ultimate confrontation between good and evil.</li>
        </ul>
    </div>

    <div class="sw-movie-grid">
        <div class="sw-movie-item">
            <img src="./images/acc/star7.webp" alt="Star Wars: Episode VII – The Force Awakens">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star8.jpg" alt="Star Wars: Episode VIII – The Last Jedi">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star9.jpg" alt="Star Wars: Episode IX – The Rise of Skywalker">
        </div>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="cita">
        <blockquote>"if you're not with me, then you're my enemy!" - Anakin Skywalker to obi-Wan Kenobi</blockquote>
        <a href="https://fr.wikipedia.org/wiki/Star_Wars,_%C3%A9pisode_III_:_La_Revanche_des_Sith" target="_blank"><p>Star Wars: Episode III – Revenge of the Sith</p></a>
    </div>
{% else %}
    <div class="st">
        <div class="st2">
            <h2>Rejoignez la galaxie, vivez l'aventure !</h2>
            <p>Plongez dans l'univers fascinant de Star Wars, où chaque héros, vaisseau et planète raconte une histoire épique. Découvrez les secrets des Jedi, Sith, pilotes et bien plus, dans une aventure galactique sans fin !</p>
        </div>
    </div>

    <div class="sw-intro">
        <h2>L'aventure galactique vous attend !</h2>
        <p>Bienvenue dans l'univers infini de Star Wars, où des légendes prennent vie et des batailles épiques façonnent l'histoire.</p>
        <p>Que vous soyez un Jedi en quête de sagesse ou un Sith prêt à conquérir la galaxie, chaque coin de l'univers offre une nouvelle aventure. Découvrez les personnages emblématiques, explorez les vaisseaux spatiaux et plongez dans l'héritage des Jedi et des Sith.</p>
        <p>Préparez-vous à embarquer dans un voyage hors du commun, rempli de mystères, de héros et de forces opposées, qui façonneront l'avenir de l'univers.</p>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="st3">
        <div class="st4">
            <h2>Rencontrez les héros et les vilains</h2>
            <p>Les personnages de Star Wars sont inoubliables, de la sagesse des Jedi à l'ambition des Sith. Chacun a sa propre histoire, ses motivations et son rôle crucial dans la lutte pour la galaxie.</p>
        </div>
    </div>

    <div class="sw-intro">
        <h2>Héros et vilains : L'âme de la galaxie</h2>
        <p>Les personnages de Star Wars sont au cœur de l'univers, chacun apportant une dimension unique à l’histoire.</p>
        <p>Les Jedi, tels que Luke Skywalker et Obi-Wan Kenobi, incarnent l’espoir et la sagesse, luttant pour la paix.</p>
        <p>À l’opposé, les Sith, comme Dark Vador et Palpatine, sont animés par la soif de pouvoir et la domination. Entre les pilotes intrépides comme Han Solo et les leaders stratégiques comme Leia Organa, chaque personnage contribue à l’épopée galactique.</p>
        <p>Leur évolution et leurs choix façonnent le destin de la galaxie dans un combat éternel entre lumière et ténèbres.</p>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="sw-highlights">
        <h2>Les 6 premiers films : L'épopée commence</h2>
        <ul>
            <li>Star Wars : Episode I – La Menace Fantôme : Le début de l'aventure avec l'introduction d'Anakin Skywalker, le conflit des Jedi et l'apparition de la mystérieuse menace Sith.</li>
            <li>Star Wars : Episode II – L'Attaque des Clones : Anakin et Padmé s'unissent face à la guerre galactique, tandis que les sombres machinations des Sith se dévoilent.</li>
            <li>Star Wars : Episode III – La Revanche des Sith : La chute d'Anakin, la naissance de l'Empire et la fin de l'ère des Jedi.</li>
            <li>Star Wars : Episode IV – Un Nouvel Espoir : Luke Skywalker découvre son destin et lutte contre l'Empire, rencontrant des alliés comme Han Solo et Princess Leia.</li>
            <li>Star Wars : Episode V – L'Empire Contre-Attaque : L'Empire frappe fort, et Luke affronte son père, Dark Vador, révélant un secret majeur.</li>
            <li>Star Wars : Episode VI – Le Retour du Jedi : La lutte finale contre l'Empire, la rédemption d'Anakin et la victoire des rebelles.</li>
        </ul>
    </div>

    <div class="sw-movie-grid">
        <div class="sw-movie-item">
            <img src="./images/acc/star1.jpg" alt="Star Wars : Episode I – La Menace Fantôme">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star2.jpg" alt="Star Wars : Episode II – L'Attaque des Clones">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star3.avif" alt="Star Wars : Episode III – La Revanche des Sith">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star4.jpg" alt="Star Wars : Episode IV – Un Nouvel Espoir">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star5.jpg" alt="Star Wars : Episode V – L'Empire Contre-Attaque">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star6.jpg" alt="Star Wars : Episode VI – Le Retour du Jedi">
        </div>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="sw-intro">
        <h2>La nouvelle trilogie : un héritage en jeu</h2>
        <p>La saga continue avec une nouvelle génération de héros et de vilains.</p>
        <p>L’Éveil de la Force introduit Rey, une pilleuse d'épaves au destin mystérieux, face au redoutable Kylo Ren.</p>
        <p>Les Derniers Jedi bouscule les croyances des Jedi et confronte Rey à son avenir. Enfin, L'Ascension de Skywalker conclut l’affrontement entre la Résistance et le Premier Ordre, révélant des vérités inattendues sur l'héritage de Rey et la lutte entre lumière et obscurité.</p>
    </div>

    <div class="st7">
        <div class="st8">
            <h2>Le retour des Sith L'ombre renaît</h2>
            <p>Les Sith, longtemps cachés, reviennent pour semer le chaos. Palpatine orchestre la chute des Jedi, tandis que Dark Vador devient l’instrument de leur vengeance et de leur domination.</p>
        </div>
    </div>

    <div class="sw-highlights">
        <h2>La dernière trilogie :</h2>
        <ul>
            <li>Star Wars : Episode VII – Le Réveil de la Force : Rey découvre la Force, tandis que le Premier Ordre menace la galaxie sous le règne de Kylo Ren.</li>
            <li>Star Wars : Episode VIII – Les Derniers Jedi : Luke Skywalker entraîne Rey, tandis que la Résistance lutte désespérément contre le Premier Ordre.</li>
            <li>Star Wars : Episode IX – L'Ascension de Skywalker : La bataille finale éclate, révélant le destin de Rey et l'ultime confrontation entre le bien et le mal.</li>
        </ul>
    </div>

    <div class="sw-movie-grid">
        <div class="sw-movie-item">
            <img src="./images/acc/star7.webp" alt="Star Wars : Episode VII – Le Réveil de la Force">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star8.jpg" alt="Star Wars : Episode VIII – Les Derniers Jedi">
        </div>
        <div class="sw-movie-item">
            <img src="./images/acc/star9.jpg" alt="Star Wars : Episode IX – L'Ascension de Skywalker">
        </div>
    </div>

    <div class="separator-container">
        <div class="separator"></div>
    </div>

    <div class="cita">
        <blockquote>"Si tu n'es pas avec moi, alors tu es contre moi !" - Anakin Skywalker à obi-Wan Kenobi</blockquote>
        <a href="https://fr.wikipedia.org/wiki/Star_Wars,_%C3%A9pisode_III_:_La_Revanche_des_Sith" target="_blank"><p>Star Wars, épisode III : La Revanche des Sith</p></a>
    </div>
{% endif %}


<script>
    // Attendre que le DOM soit entièrement chargé avant d'exécuter le script
    document.addEventListener('DOMContentLoaded', function() {
        // Sélectionner tous les éléments séparateurs
        var separators = document.querySelectorAll('.separator');

        // Créer un nouvel observateur d'intersection
        var observer = new IntersectionObserver((entries) => {
            // Pour chaque entrée observée
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Si le séparateur entre dans la vue, ajouter la classe 'visible'
                    entry.target.classList.add('visible');
                } else {
                    // Si le séparateur sort de la vue, retirer la classe 'visible'
                    entry.target.classList.remove('visible');
                }
            });
        }, { threshold: 0.1 }); // Déclencher lorsque 10% de l'élément est visible

        // Observer chaque séparateur
        separators.forEach(separator => {
            observer.observe(separator);
        });
    });
</script>

{% endblock %}
