<!DOCTYPE html>
<html lang="fr">
<!--
	Ce fichier HTML sert de base à tous les modèles en héritant.
	Il contient les éléments qui seront présents sur toutes les pages du site.
	En particulier les entêtes HTML, les header et footer et éventuellement le menu principal
-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ titre }}</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
	{% block css %}{% endblock %}
</head>

<body>
	<header>
		<div class="logo-main_nav">
			<div class="img">
				<a href="index.php"><img src="images/logosw.png" alt="logo star wars"></a>
			</div>
			{% if lang == 'en' %}
			<nav class="main-nav">
				<ul>
					<li><a href="index.php?lang=en">Home</a></li>
					<li><a href="page-perso.php?lang=en">Characters</a></li>
					<li><a href="page-vaisseaux.php?lang=en">Spaceships</a></li>
					<li><a href="page-plane.php?lang=en">Planets</a></li>
					<li><a href="a_propos.php?lang=en">About us</a></li>
					<li><a href="contact.php?lang=en">Contact</a></li>
				</ul>
			</nav>
			{% else %}
			<nav class="main-nav">
				<ul>
					<li><a href="index.php?lang=fr">Accueil</a></li>
					<li><a href="page-perso.php?lang=fr">Personnages</a></li>
					<li><a href="page-vaisseaux.php?lang=fr">vaisseaux</a></li>
					<li><a href="page-plane.php?lang=fr">Planètes</a></li>
					<li><a href="a_propos.php?lang=fr">A Propos</a></li>
					<li><a href="contact.php?lang=fr">Contact</a></li>
				</ul>
			</nav>
			{% endif %}
		
			<div class="trans">
				<a href="?lang=fr"><span class="flag-icon flag-icon-fr"></span></a>
				<a href="?lang=en"><span class="flag-icon flag-icon-gb"></span></a>
			</div>
		</div>
	</header>
	<main>
		{# Ceci est un commentaire en TWIG #}
		{# La ligne ci-dessous définit un bloc TWIG avec un contenu par défault.
		On peut spécialiser dans les modèles fils en remplaçant le contenu par un autre #}
		{% block main %}
		{% endblock %}
	</main>
	<footer>
	{% if lang == 'en' %}
		<div class="logos">
			<ul>
				<li><a href="https://www.facebook.com/StarWars.fr" target="_blank"><i class="bi bi-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/starwars/#" target="_blank"><i class="bi bi-instagram"></i></a></li>
				<li><a href="https://x.com/starwars?mx=2" target="_blank"><i class="bi bi-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/c/StarWars" target="_blank"><i class="bi bi-youtube"></i></a></li>
			</ul>
		</div>
		<div class="footer-menu">
			<ul>
				<li><a href="index.php">Star Wars News</a></li>
				<li><a href="https://www.clubic.com/streaming/disney-plus/guide-468090-star-wars-dans-quel-ordre-regarder-les-films-et-les-series.html" target="_blank">Movie and Series Timeline</a></li>
				<li><a href="page-perso.php">Iconic Characters</a></li>
				<li><a href="contact.php">Contact Us</a></li>
			</ul>
			<ul>
				<li><a href="https://www.anakinworld.com/encyclopedie/listes/organisations" target="_blank">Orders and Factions</a></li>
				<li><a href="https://starwars.fandom.com/fr/wiki/Galaxie" target="_blank">Galaxy History</a></li>
				<li><a href="page-vaisseaux.php">Technology and Ships</a></li>
				<li><a href="https://www.emp-online.fr/merchandising-pop-culture/star-wars/?forceThisShop=1" target="_blank">Merchandise</a></li>
			</ul>
			<ul>
				<li><a href="page-plane.php">Planets and Locations</a></li>
				<li><a href="https://www.disneystore.fr/personnages-et-films/star-wars/produits-star-wars?ef_id=Cj0KCQiAwOe8BhCCARIsAGKeD56Ssv_0QYcaet-GHdj8DIjHDL6YEOXvxlsSEKfnWG4BCqs5_Zml1oMaAk1bEALw_wcB:G:s&s_kwcid=AL!15493!3!!!!x!!!21674880389!&&cmp=knc-go:txtad:TDS-FR-Performance_Max-High_Priority_Franchise:pcode::::::dest&gad_source=1&gclid=Cj0KCQiAwOe8BhCCARIsAGKeD56Ssv_0QYcaet-GHdj8DIjHDL6YEOXvxlsSEKfnWG4BCqs5_Zml1oMaAk1bEALw_wcB&gclsrc=aw.ds" target="_blank">Official Store</a></li>
				<li><a href="#">Partners and Collaborations</a></li>
				<li><a href="#">Media and Events</a></li>
			</ul>
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="a_propos.php">Legal Notice</a></li>
				<li><a href="#">Accessibility</a></li>
			</ul>
		</div>

        <p>&copy; 2025 Star Wars Passion. All rights reserved.</p>
	{% else %}
		<div class="logos">
            <ul>
                <li><a href="https://www.facebook.com/StarWars.fr" target="_blank"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/starwars/#" target="_blank"><i class="bi bi-instagram"></i></a></li>
                <li><a href="https://x.com/starwars?mx=2" target="_blank"><i class="bi bi-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/c/StarWars" target="_blank"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-menu">
			<ul>
				<li><a href="index.php">Actualités Star Wars</a></li>
				<li><a href="https://www.clubic.com/streaming/disney-plus/guide-468090-star-wars-dans-quel-ordre-regarder-les-films-et-les-series.html" target="_blank">Chronologie des films et séries</a></li>
				<li><a href="page-perso.php">Personnages emblématiques</a></li>
				<li><a href="contact.php">Nous contacter</a></li>
			</ul>
			<ul>
				<li><a href="https://www.anakinworld.com/encyclopedie/listes/organisations" target="_blank">Ordres et factions</a></li>
				<li><a href="https://starwars.fandom.com/fr/wiki/Galaxie" target="_blank">Histoire de la galaxie</a></li>
				<li><a href="page-vaisseaux.php">Technologie et vaisseaux</a></li>
				<li><a href="https://www.emp-online.fr/merchandising-pop-culture/star-wars/?forceThisShop=1" target="_blank">Produits dérivés</a></li>
			</ul>
			<ul>
				<li><a href="page-plane.php">Planètes et lieux</a></li>
				<li><a href="https://www.disneystore.fr/personnages-et-films/star-wars/produits-star-wars?ef_id=Cj0KCQiAwOe8BhCCARIsAGKeD56Ssv_0QYcaet-GHdj8DIjHDL6YEOXvxlsSEKfnWG4BCqs5_Zml1oMaAk1bEALw_wcB:G:s&s_kwcid=AL!15493!3!!!!x!!!21674880389!&&cmp=knc-go:txtad:TDS-FR-Performance_Max-High_Priority_Franchise:pcode::::::dest&gad_source=1&gclid=Cj0KCQiAwOe8BhCCARIsAGKeD56Ssv_0QYcaet-GHdj8DIjHDL6YEOXvxlsSEKfnWG4BCqs5_Zml1oMaAk1bEALw_wcB&gclsrc=aw.ds" target="_blank">Boutique officielle</a></li>
				<li><a href="#">Partenaires et collaborations</a></li>
				<li><a href="#">Médias et événements</a></li>
			</ul>
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Confidentialité</a></li>
				<li><a href="a_propos.php">Mentions légales</a></li>
				<li><a href="#">Accessibilité</a></li>
			</ul>
		</div>

		<p>&copy; 2025 Star Wars Passion. Tous droits réservés.</p>
	{% endif %}
    </footer>
</body>

</html>
